$storyBookOrderId: "f493798e-534c-4f72-85ec-a9f5121e46fc";
$storyClassic: "7729f782-e8e5-4602-9c2a-0cde98c56746";

$std-red: #cc0000;
$std-gray: #D3D3D3;


/* Colors */ 
$primary-color: #ac1e2d;
$secondary-color: #58595b;
$title-color: #000000;
$menuText-color: #5f5f5f;

/* IDS */
$hompage-pickUpOrders: "1133466d-c7f1-4832-b9d7-899577d512a5";
$hompage-Fm-More: "99538fa6-42bb-4d54-a96d-f159fcecd220";