<div
	*ngIf="text"
	class="configuration content-slot-component-background"
	[class.container-content]="containerWidth"
	[ngStyle]="backgroundStyle"
	[style.max-width]="maxWidth"
>
	<div class="headline" [ngStyle]="headlineStyle" [style.text-align]="headlineAlignment">
		{{ headline }}
	</div>
	<div class="sub-headline content-slot-component-subheadline" [ngStyle]="subHeadlineStyle" [style.text-align]="subHeadlineAlignment">
		{{ subHeadline }}
	</div>

	<upscale-aspect-ratio class="container" [aspectRatio]="aspectRatio" [height]="height">
		<div class="text" [innerHTML]="text"></div>
	</upscale-aspect-ratio>
</div>
